@import url("https://fonts.googleapis.com/css?family=Inconsolata");
@import url("https://fonts.googleapis.com/css?family=Roboto");

h1 { font-family: "Inconsolata", "Trebuchet MS", Arial, Helvetica, sans-serif; }

.legend {
    font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    font-size: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: right;
    background-color: #f4f7f5;
    color: black;
}

#clients {
    font-family: "Inconsolata", "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#clients td, #clients th {
    border: 1px solid #ddd;
    padding: 8px;
}

#clients tr:nth-child(even){background-color: #ebfaeb;}

#clients tr:hover {background-color: #ddd;}

#clients th {
    font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
