<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FIMpy - File Integrity Monitoring</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/styles.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/static/favicon.ico">
</head>

<body>
    <div class="container">
        <h1 class="text-center"><img src="static/img/face-monkey.png">&nbsp;FIMpy - File Integrity Monitoring</h1>
        <div align="center">

            <table id="clients">
                <tr>
                    <th>Host</th>
                    <th>IP Address</th>
                    <th style="text-align: center">Type</th>
                    <th>Last Scan</th>
                    <th style="text-align: center">Status</th>
                </tr>
                {% for row in x %}
                    <tr>
                      <td align="left">
                          {% if row['alive'] == true %}
                            <img src="static/img/green-circle-16.png" />
                          {% else %}
                            <img src="static/img/red-circle-16.png" />
                          {% endif %}
                      {{ row['hosts'] }}</td>
                      <td>{{ row['ipaddresses'] }}</td>
                      <td align="center" width="120">HMAC</td>
                      <td align="left" width="170">{{ row['lastscandates'] }}</td>
                      <td align="center" width="120">
                          {% if row['alive'] == true %}
                              {% if row['status'] == 0 %} <!-- Idle -->
                                <img src="static/img/snowflake-16.png" />
                              {% else %}
                                  {% if row['status'] == 1 %} <!-- Baseline Set -->
                                    <img src="static/img/protected-key-16.png" />
                                  {% endif %}
                                  {% if row['status'] == 2 %} <!-- Verified -->
                                    <img src="static/img/protected-shield-16.png" />
                                    <img src="static/img/bell-16.png" />
                                  {% endif %}
                                  {% if row['status'] == 3 %} <!-- Compromised -->
                                    <img src="static/img/radioactive-16.png" />
                                  {% endif %}
                              {% endif %}
                          {% else %}
                              <img src="static/img/question-mark-16.png" />
                          {% endif %}
                      </td>
                      <!--<td>{{ row['alive']|tojson|safe }}</td>-->
                    </tr>
                {% endfor %}
                    <tr><td colspan="5" class="legend"><br><b>Key:</b>&nbsp;&nbsp;
                        <img src="static/img/green-circle-16.png" />&nbsp;Host Alive&nbsp;&nbsp;
                        <img src="static/img/red-circle-16.png" />&nbsp;Host Uncontactable&nbsp;&nbsp;
                        <img src="static/img/snowflake-16.png" />&nbsp;No Baseline&nbsp;&nbsp;
                        <img src="static/img/protected-key-16.png" />&nbsp;Baseline Set&nbsp;&nbsp;
                        <img src="static/img/protected-shield-16.png" />&nbsp;Baseline Verified&nbsp;&nbsp;
                        <img src="static/img/radioactive-16.png" />&nbsp;Integrity &nbsp;&nbsp;
                        <img src="static/img/bell-16.png" />&nbsp;Alerts Enabled&nbsp;&nbsp;
                        <img src="static/img/question-mark-16.png" />Status Unknown&nbsp;&nbsp;
                    </td></tr>
            </table>
            <div style="font-family: Roboto; font-size: 9.0pt; padding-top: 10px"><a href="https://github.com/oneillal/FIMpy">FIMpy @ GitHub</a></div>
        </div>
    </div>

</body>

</html>
